.container{
    text-align: center;
}

.form{
    padding: 50px;
    background-color: #ddd9d9;
    display: inline-block;
    border-radius: 20px;
    width: 70%;
}

.input{
    height: 35px;
    width: 40%;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
}

.input:focus-visible{
    border: none;
}

.add{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.task{
    display: inline-block;
    background-color: #ddd9d9;
    min-height: 15px;
    width: 74%;
    margin-top: 15px;
    padding: 25px;
    border-radius: 20px;
}

.dilBox {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto auto 30px;
    background-color: white;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.dilButton{
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.reset{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border: none;
    background-color: #ff8e8e;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}


@media screen and (max-width: 500px){
    .form{
        padding: 25px 50px;
        margin-top: 15px;
    }
    
    .dilBox{
        width: 94%;
        overflow: auto;
    }

    .dilButton{
        padding: 10px;
    }


}
